html{
  background-color: black;
  color: white;
}

.row{
  display:flex;
  flex-direction: row;
}

.bookCard{
  margin: 10px;
  background-color: white;
  color: black;
  width: 155px;
  height: 240px;
  font-family: cursive;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  align-items: center;
}

.infoSlot{
  width: 155px;
  height: 50px;
  display: flex;
  justify-content: center;
}

#btnDiv{
  height: 50px;
  background-color: white;
  display:flex;
  justify-content: center;
  align-items: center;
}

#newBook{
  height: 25px;
  color: black;
  background-color: #a67ff6
}

.cardBtns{
  height: 25px;
  width: 100px;
  background-color: red;
  display: flex;
  justify-content: center;
  margin: 1px;
}
